.animate-from-right {
	animation: animate-from-left 0.5s ease-out;
}

.animate-from-left {
	animation: animate-from-left 0.5s ease-out;
}

@media screen and (min-width: 768px) {
	.animate-from-right {
		animation: animate-from-right 0.5s ease-out;
	}
}

@keyframes animate-from-left {
	from {
		opacity: 0;
		left: -4rem;
	}

	to {
		opacity: 1;
		left: 0;
	}
}

@keyframes animate-from-right {
	from {
		opacity: 0;
		right: -4rem;
	}

	to {
		opacity: 1;
		right: 0;
	}
}
